---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: Latest
title: Blog list
date: Created
---

<h1>{{title}}</h1>

<ul class="list-group mt-3 mb-3">
    {% for blogpost in collections.blog %}
        <li class="list-group-item list-group-item-action">
            <a href="{{blogpost.url}}">{{blogpost.data.title}}</a>
        </li>
    {% endfor %}
</ul>