---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<figure class="figure">
  <img src="img/hello.jpg" class="img-fluid" alt="A sign reading hello">
  <figcaption class="figure-caption">
    Photo by
    <a href="https://unsplash.com/@bekkybekks?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Bekky Bekks</a>
    on
    <a href="https://unsplash.com/s/photos/hello?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
  </figcaption>

  <h1 class="display-1 text-center mt-3">Welcome to my blog!</h1>

  <p class="mt-3">
    This is the blog I'm creating for the
    <a href="https://thecodersguild.org.uk/blog/learn-web-and-app-development-with-the-jamstack/">Coder's Guild JAMstack Bootcamp</a>.
  </p>
  {% set maxPosts = collections.posts.length | min(3) %}
  <h2>Latest
    {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }}
      Posts{% endif %}
  </h2>
  <div class="mt-3">

    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
  </div>

  <p>More posts can be found in
    <a href="{{ '/posts/' | url }}">the archive</a>.</p>