---
layout: layouts/home.njk
permalink: /newpage/
eleventyNavigation:
  key: Newpage
  order: 4
---

<h1>Hello! This is a new page.</h1>

I've added it because that's one of the
<a href="https://jamstack.tcg.camp/ssg/">tasks</a>
for the session that I have just completed in the
<a href="https://thecodersguild.org.uk/blog/learn-web-and-app-development-with-the-jamstack/">Coder's Guild JAMstack Bootcamp</a>.